@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    background:#2E9CE6;
    padding: 3em;
    font-family: 'Raleway', 'Arial';
    color:#fff;
    background-image: url(assets/img/task.jpg);
    background-position: top center;
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: cadetblue;
}

h3 {
    text-align: center;
    font-size: 2rem;
    color: skyblue;
    font-weight: bold;
    
}