<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p>Add a new task list</p>
  </div>
  <div class="col">
    <p>Your tasks list</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form to create a new tasks list. <br />"Never plan for tomorrow, if you can do today!" (Somebody said)</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="My new task.."  [(ngModel)]="goalText"> 

        <br><span>{{ goalText }}</span><br>
      
<input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals">
  {{ goal }}
</p>
    
    <p>Your task list ({{ itemCount }})</p>
    
        
  </div>
  
</div>


<p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">Remove a task</p>